// Creating the footer element to include at the bottom of the page
footer
  // Defining a container within the footer with a black background and centering the content
  div.w3-container.w3-black.w3-center
    // Displaying a copyright notice with the year and your name, along with your student number for identification
    p &copy; 2025 Premsingh Padya (C0924501) 
